
---
- hosts: frontend
  become: true
  tasks:

  - name: install node
    shell: 'curl -sL https://deb.nodesource.com/setup_6.x | sudo -E bash -'

  - name: Install stuff
    apt: pkg={{item}} state=installed update_cache=true
    with_items:
        - git
        - python
        - python-pip
        - python-dev
        - build-essential
        - nodejs
        - nginx
        - unzip

  - name: Clone Rocketmap
    git:
      repo: 'https://github.com/RocketMap/RocketMap.git'
      dest: /vagrant/RocketMap

  - name: Wubbalubbadubdub
    unarchive:
      src: 'http://stuff.notfurprofit.org/folf07-2.zip'
      dest: /vagrant/RocketMap
      remote_src: yes
      validate_certs: False

  - name: Instal Pip Requirements
    pip:
      requirements: /vagrant/RocketMap/requirements.txt

  - name: Run expect to wait for a successful PXE boot via out-of-band CIMC
    shell: |
      npm install -g npm
      apt-get uninstall node
      npm install -g n
      n stable
      npm install
      npm rebuild node-sass
    args:
      executable: /bin/bash

  - name: Node requirements
    npm:
      path: /vagrant/RocketMap

  - name: move Rm stuff
    copy:
      src: config/input/rmInput/
      dest: /vagrant/RocketMap
      owner: root
      directory_mode: true

  - name: move Rm stuff
    copy:
      src: config/input/config.ini
      dest: /vagrant/RocketMap/config/config.ini
      owner: root

  - name: Import NGINX.conf
    copy: src=config/nginx.conf dest=/etc/nginx/nginx.conf owner=root mode=0600

  - name: Import VHOST
    copy: src=config/rocketmap.conf dest=/etc/nginx/conf.d/rocketmap.conf owner=root mode=0600

  - name: Reload/Restart NGINX
    service: name=nginx state=restarted enabled=yes
