
# Database settings

db-type:mysql
db-host:localhost
db-name:rocketmapdb
db-user:rocketmapuser
db-pass:rocketmappassword

gmaps-key: ThisIsReallyImportant.jpeg

# location and area

#geofence-file:
location: bratislava
step-limit: 30

#Scan setting

speed-scan
gym-info
accountcsv:
hash-key:
captcha-solving: true
captcha-key:
login-delay: 12